<div ng-controller="StaticDataController as staticController" data-ng-init="staticController.init()">
    <ol class="breadcrumb text-center lBlue">
        <li><a href="/dashboard">Search Selection</a></li>
        <li id="searchBreadCrumb" class="active">RTC Dashboard</li>
    </ol>
    <div class="container">
        <div class="row">
            <a id="staticButton" ng-click="staticController.showSelectedSearchMode('STATICDATA')"
               class="btn btn-primary col-lg-3 btn-xlarge-longText">
                <i class="glyphicon glyphicon-user"></i>
                <p>Static Data</p>
            </a>
            <a id="referenceNumberButton" ng-click="staticController.showSelectedSearchMode('SEARCHBYREFERENCE')"
               class="btn btn-primary col-lg-3 btn-xlarge-longText">
                <i class="glyphicon glyphicon-credit-card"></i>
                <p>Search by Reference Number</p>
            </a>
            <a id="cardNumberButton" ng-click="staticController.showSelectedSearchMode('SEARCHBYCARDNUMBER', '')"
               class="btn btn-primary col-lg-3 btn-xlarge-longText">
                <i class="glyphicon glyphicon-stats"></i>
                <p>Search By Card Number</p>
            </a>
            <a id="accountNumberButton" ng-click="staticController.showSelectedSearchMode('SEARCHBYACCOUNTNUMBER')"
               class="btn btn-primary col-lg-3 btn-xlarge-longText">
                <i class="glyphicon glyphicon-stats"></i>
                <p>Search By Account Number</p>
            </a>
            <a id="pendingPayments" ng-click="staticController.showSelectedSearchMode('SEARCHPENDINGPAYMENTS')"
               class="btn btn-primary col-lg-3 btn-xlarge-longText top1">
                <i class="glyphicon glyphicon-search"></i>
                <p>Search Pending Payments</p>
            </a>
            <a id="auditLogButton" ng-click="staticController.showSelectedSearchMode('SEARCHRTCAUDITLOG')"
               class="btn btn-primary col-lg-3 btn-xlarge-longText top1">
                <i class="glyphicon glyphicon-book"></i>
                <p>RTC Audit Log</p>
            </a>
        </div>
        <div ng-show="staticController.searchType === 'STATICDATA'">
            <div>
                <ng-include src="'dashboardRealTimeClearance/staticDataMenu.html'"></ng-include>
            </div>
        </div>

        <div ng-show="staticController.participatingBanks && staticController.searchType === 'STATICDATA'">
            <div>
                <ng-include src="'dashboardRealTimeClearance/staticData/participatingBanksPartials/listParticipatingBanks.html'"></ng-include>
            </div>
        </div>
        <div ng-show="staticController.accountStyles && staticController.searchType === 'STATICDATA'">
            <div>
                <ng-include src="'dashboardRealTimeClearance/staticData/accountStylesPartials/accountStyles.html'"></ng-include>
            </div>
        </div>
        <div ng-show="staticController.paymentCharges && staticController.searchType === 'STATICDATA'">
            <div>
                <ng-include src="'dashboardRealTimeClearance/staticData/paymentChargesPartials/paymentCharges.html'"></ng-include>
            </div>
        </div>
        <div ng-show="staticController.paymentLimit && staticController.searchType === 'STATICDATA'">
            <div>
                <ng-include src="'dashboardRealTimeClearance/staticData/paymentLimitPartials/paymentLimit.html'"></ng-include>
            </div>
        </div>
        <div ng-show="staticController.productAvailability && staticController.searchType === 'STATICDATA'">
            <div>
                <ng-include src="'dashboardRealTimeClearance/staticData/productAvailabilityPartials/productAvailability.html'"></ng-include>
            </div>
        </div>
    </div>
</div>