<div class="col-md-12">
    <table class="table table-striped">
        <thead><strong>To :</strong>
        <tr class="bg-info">
            <th>Beneficiary Ref</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Beneficiary Cell Nr</th>
            <th>Account Nr</th>
            <th>BIC</th>
            <th>Branch Code</th>
            <th>Beneficiary ID</th>
        </tr>
        </thead>
        <tbody>
        <td>{{rtcController.paymentSearchResults.beneficiaryRef}}</td>
        <td>{{rtcController.paymentSearchResults.firstName}}</td>
        <td>{{rtcController.paymentSearchResults.lastName}}</td>
        <td>{{rtcController.paymentSearchResults.beneficiaryEmail}}</td>
        <td>{{rtcController.paymentSearchResults.beneficiaryCellNumber}}</td>
        <td>{{rtcController.paymentSearchResults.accountTo}}</td>
        <td>{{rtcController.paymentSearchResults.bicAddress}}</td>
        <td>{{rtcController.paymentSearchResults.branchCode}}</td>
        <td>{{rtcController.paymentSearchResults.beneficiaryId}}</td>
        </tbody>
    </table>
</div>