<div class="col-md-12 top25">
    <table class="table table-condensed">
        <thead>
        <tr class="bg-info">
            <th>Id</th>
            <th>Reference Nr</th>
            <th>Status</th>
            <th>Date/Time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in rtcController.pendingPaymentResults.slice(((rtcController.currentPage-1)*5), ((rtcController.currentPage)*5))">

            <td>{{item.id}}</td>
            <td>{{item.rtcPaymentRequestId}}</td>
            <td>{{item.state}}</td>
            <td>{{item.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        </tbody>
    </table>
    <div id="paginationID" ng-show='rtcController.pendingPaymentResults.length > 5'>
        <pagination
                ng-model="rtcController.currentPage"
                total-items="rtcController.paymentSearchResults.length"
                max-size="rtcController.maxSize"
                items-per-page="5"
                boundary-links="true">
        </pagination>
    </div>
</div>
