<div ng-show="rtcController.searchResults" class="col-md-12">
    <table class="table table-striped">
        <thead>
        <tr class="bg-info">
            <th>Reference Nr</th>
            <th>Date/Time</th>
        </tr>

        </thead>
        <tbody ng-show="rtcController.searchType === 'SEARCHBYREFERENCE'">
        <td><a href="" id="referenceNumber" tooltip="Select for more details"
               ng-click="rtcController.viewSelectedReferenceNumberDetails(rtcController.paymentSearchResults.interchangeId)">{{rtcController.paymentSearchResults.interchangeId}}</a>
        </td>
        <td>{{rtcController.paymentSearchResults.reqTimestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tbody>
    </table>

</div>
