<div ng-controller="AuditLogController as auditLogController" data-ng-init="auditLogController.init()">
    <div class="top25">
        <h1 class="top25 marginLeft15">Search for RTC Audit Log</h1>
        <form name="searchForm" data-toggle="validator">
            <div class="col-xs-10 input-group top25 marginLeft15">
                <div class="form-horizontal col-xs-3">
                    <label for="startDate" class="text-muted">Select Start Date</label>
                    <input id="auditLogStartDateInput" type="text" datepicker-popup="yyyy-MM-dd" ng-model="auditLogController.auditData.startDate"
                           is-open="auditLogController.datepickers.startDt"
                           datepicker-options="auditLogController.dateOptions" ng-required="true"/>
                    <button class="btn" ng-click="auditLogController.isOpenCalendar($event, 'startDt')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <div class="form-horizontal col-xs-3">
                    <label for="endDate"  class="text-muted">Select End Date</label>
                    <input id="auditLogEndDateInput" type="text" datepicker-popup="yyyy-MM-dd" ng-model="auditLogController.auditData.endDate"
                           is-open="auditLogController.datepickers.endDt"
                           datepicker-options="auditLogController.dateOptions" ng-required="true"/>
                    <button class="btn" ng-click="auditLogController.isOpenCalendar($event, 'endDt')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <div class="col-xs-3 panel-primary alert alert-danger" ng-show="auditLogController.errorMessageForDate"
                     id="errorMessageForDate">
                    <strong>{{auditLogController.errorMessageForDate}}</strong>
                </div>
            </div>
            <div class="col-xs-12 input-group top25 marginLeft15">
                <div class="col-xs-2">
                    <label for="searchByUser" class="text-muted">Search by user</label>
                    <div class="input-append">
                        <input type="text" class="form-control input-medium search-query" id="searchByUser"
                               ng-model="auditLogController.auditData.userName" name="searchByUser"
                               placeholder="Search by user"
                               autofocus="autofocus"
                               ng-maxlength="31"
                               tabindex="1"
                               ng-trim="false">
                    </div>
                </div>
                </div>
                <div>
                <div class="col-xs-12 top25 marginLeft15">
                    <label for="searchByEntity" class="text-muted">Search by entity</label>
                    <div>
                        <select ng-model="auditLogController.auditData.entity"
                                ng-options="s for s in auditLogController.RTCEntities">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 paymentsLeft40 top25">
                <button id="searchAuditLog"
                        class="btn btn-primary btn-block searchButtonSmallScreen"
                        ng-click="auditLogController.searchRTCAuditLog(auditLogController.auditData)">
                    Search
                </button>
            </div>
        </form>

            <div class="col-xs-12 paymentsLeft40 top25 text-danger">
                <div ng-show="auditLogController.responseError"
                    <strong>{{auditLogController.responseError.data[0].messages[0]}}</strong></div>
            </div>
    </div>

    <div class="col-xs-12" data-ng-show="auditLogController.RTCAuditLog !== undefined">
        <table id="auditLogTable" class="table table-bordered">
            <thead>
            <tr class="bg-info">
                <th>User name</th>
                <th>IP address</th>
                <th>Date/Time</th>
                <th>Action</th>
                <th>Entity</th>
                <th>Previous Value</th>
                <th>New Value</th>
            </tr>
            </thead>

            <tbody ng-repeat="log in (auditLogController.filteredItems =(auditLogController.RTCAuditLog |
      filter:auditLogController.searchFilter)).slice(((auditLogController.currentPage-1)*auditLogController.itemPerPage),
       ((auditLogController.currentPage)*auditLogController.itemPerPage))">
            <tr>
                <td>{{log.username}}
                <td>{{log.ipAddress}}
                <td>{{log.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}
                <td>{{log.operationPerformed}}
                <td>{{log.entity}}
                <td>{{log.beforeEntitySnapshot}}
                <td>{{log.afterEntitySnapshot}}
            </tr>
            </tbody>
        </table>

        <pagination
                ng-model="auditLogController.currentPage"
                total-items="auditLogController.filteredItems.length"
                max-size="auditLogController.maxSize"
                items-per-page="auditLogController.itemPerPage"
                boundary-links="true">
        </pagination>
    </div>
</div>
