<div class="top25">
    <h1 id="pendingPaymentsHeader" class="top25 marginLeft15">Search for RTC Pending Payments </h1>
    <div ng-show="rtcController.dateErrorMessage" class="text-warning marginLeft26">{{rtcController.dateErrorMessage}}</div>
    <div ng-show="rtcController.errorRefMessage" class="text-danger marginLeft26">{{rtcController.errorRefMessage}}</div>


    <form name="searchForm">
        <div class="row top25">
            <div class="form-horizontal col-md-6 text-muted" ng-controller="RealTimeClearanceDashBoardController">Select Start Date
                <input id="startDateInput" type="text" datepicker-popup="yyyy-MM-dd" ng-model="rtcController.dateTimeRanges.startDate"
                       is-open="rtcController.datepickers.startDt"
                       datepicker-options="rtcController.dateOptions" date-disabled="" ng-required="true"/>
                <button id="startDate" class="btn" ng-click="rtcController.isOpenCalendar($event, 'startDt')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
            </div>
            <div class="form-horizontal col-md-5 text-muted" ng-controller="RealTimeClearanceDashBoardController">Select End Date
                <input id="endDateInput" type="text" datepicker-popup="yyyy-MM-dd" ng-model="rtcController.dateTimeRanges.endDate"
                       is-open="rtcController.datepickers.endDt"
                       datepicker-options="rtcController.dateOptions" date-disabled="" ng-required="true"/>
                <button id="endDate" class="btn" ng-click="rtcController.isOpenCalendar($event, 'endDt')"><i
                        class="glyphicon glyphicon-calendar"></i></button>
            </div>
        </div>
        <div class="col-md-2 top25 paymentsLeft">
            <button data-ng-disabled="searchForm.$invalid" id="searchPending" ng-click="rtcController.searchPendingPayments(rtcController.dateTimeRanges)" tabindex="2"
                    class="btn btn-primary btn-block searchButtonSmallScreen">
                Search
            </button>

        </div>
    </form>
</div>
<div  ng-show="rtcController.pendingPaymentResults">
    <div ng-include="'dashboardRealTimeClearance/rtcPendingPaymentResults.html'" class="paymentsMgLeft"></div>
</div>
