<div class="top25">
    <button id="participatingBanks" type="button" ng-click="staticController.getParticipatingBanks()"
            class="btn btn-default top5">Participating Banks
    </button>
    <button id="accountStyles" type="button" ng-click="staticController.getAccountStyles()"
            class="btn btn-default top5">Account Styles
    </button>
    <button id="paymentCharge" type="button" ng-click="staticController.getPaymentCharges()"
            class="btn btn-default top5">Payment Charge
    </button>
    <button id="paymentLimit" type="button" ng-click="staticController.getPaymentLimit()" class="btn btn-default top5">
        Payment Limit
    </button>
    <button id="productAvailability" type="button" ng-click="staticController.getProductAvailability()"
            class="btn btn-default top5">Product Availability
    </button>
</div>


