<ol class="breadcrumb text-center lBlue">
    <li id="searchBreadCrumb" class="active">Search Selection</li>
</ol>
<div class="container">
    <div class="controls-row">
        <a id="digitalIdButton" ng-click="digitalId(true)"
           class="btn btn-primary col-lg-4 btn-xlarge-longText top1">
            <i class="glyphicon glyphicon-user"></i>
            <p>Digital ID</p>
        </a>
        <a id="cardNumberButton" ng-click="cardNumber(true)"
           class="btn btn-primary col-lg-4 btn-xlarge-longText top1">
            <i class="glyphicon glyphicon-credit-card"></i>
            <p>Card Number</p>
        </a>
        <a id="ostButton" ng-click="onlineShareTrading(true)"
           class="btn btn-primary col-lg-4 btn-xlarge-longText top1">
            <i class="glyphicon glyphicon-usd"></i>
            <p>Online Share Trading</p>
        </a>
        <a ng-show="userAccessRights === 'ROLE_READWRITE_USER'"
           id="digitalIdAuditButton" ng-click="digitalIdAudit(true)"
           class="btn btn-primary col-lg-4 btn-xlarge-longText top1">
            <i class="glyphicon glyphicon-th-list"></i>
            <p>Audit History</p>
        </a>
        <a id="obbButton" ng-click="onlineBusinessBanking(true)"
           class="btn btn-primary col-lg-4 btn-xlarge-longText top1">
            <i class="glyphicon glyphicon-briefcase"></i>
            <p>Online Banking for Business</p>
        </a>
        <a id="rtcPaymentsButton" ng-click="rtcPaymentsManagement(true)"
           class="btn btn-primary col-lg-4 btn-xlarge-longText top1">
            <i class="glyphicon glyphicon-time"></i>
            <p>Real Time Clearance [RTC]</p>
        </a>
        
        <!--<!--<a id="rtcPaymentsButton1"-->
           <!--class="btn btn-info col-lg-4 btn-xlarge-longText top1">-->
            <!--<i class="glyphicon glyphicon-tree-deciduous"></i>-->
            <!--<p>Virtual Card Coming soon ...</p>-->
        <!--</a>-->
    </div>

</div>
