<div data-ng-init="init()">
    <ol id="searchByDIBreadCrumb" class="breadcrumb list-inline text-center lBlue">
        <li><a href="/dashboard">Search Selection</a></li>
        <li ui-sref-active="" ui-sref-opts="{cache: false,reload: true}" class="active">Search By Digital ID</li>
    </ol>
    <div class="container-fluid">

        <form name="searchForm" ng-submit="searchByTypePrincipal(searchValue)" data-toggle="validator">
            <div ng-show="errorMessage" id="searchFormError" class="loginMargin panel-primary alert alert-danger">
                <strong>{{errorMessage}}</strong>
            </div>
            <div class="col-xs-12 input-group" style="margin-left: 15em;">
                <div class="form-inline">
                    <div class="col-xs-2">
                        <a href=""  class="customClass" id="searchHintsLink" ng-click="searchHintsModal()">Search Hints</a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="input-append">
                        <input type="text" class="form-control input-medium search-query" id="tbDigitalId"
                               ng-model="searchValue" placeholder="Search" autofocus="autofocus" tabindex="1"
                               required>
                    </div>
                </div>
                <div class="col-xs-1">
                    <button data-ng-disabled="searchForm.$invalid" id="search" type="submit" tabindex="2"
                            class="btn btn-primary btn-block searchButtonSmallScreen">
                        Search
                    </button>
                </div>
            </div>
        </form>
        <div>&nbsp;</div>
        <div class="col-xs-12" ng-show="searching">
            <table class="table table-bordered table-striped" id="searchList">
                <thead>
                <tr class="bg-info">
                    <th>
                        <button id="userNameFilterDI" ng-click="order('userName')" style="display: block; width: 100%;">
                            Digital ID
                        </button>
                        <span ng-show="predicate === 'userName'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button id="lastLoggedInFilterDI" ng-click="order('lastLoggedIn')"
                                style="display: block; width: 100%;">Last Login
                        </button>
                        <span ng-show="predicate === 'lastLoggedIn'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button id="channelIndicatorFilterDI" ng-click="order('channelIndicator')"
                                style="display: block; width: 100%;">Registration Channel
                        </button>
                        <span ng-show="predicate === 'channelIndicator'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button id="registrationDateFilterDI" ng-click="order('registrationDate')"
                                style="display: block; width: 100%;">Registration Date
                        </button>
                        <span ng-show="predicate === 'registrationDate'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button id="authenticationAttemptsFilterDI" ng-click="order('authenticationAttempts')"
                                style="display: block; width: 100%;">Password Count
                        </button>
                        <span ng-show="predicate === 'authenticationAttempts'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button id="activatedFilterDI" ng-click="order('activated')"
                                style="display: block; width: 100%;">
                            Active
                        </button>
                        <span ng-show="predicate === 'activated'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button id="disabledFilterDI" ng-click="order('disabled')" style="display: block; width: 100%;">
                            Disabled
                        </button>
                        <span ng-show="predicate === 'disabled'" ng-class="{reverse:reverse}"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="searchResult in searchResults.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:predicate:reverse">
                    <td><a href="" id="searchRes" tooltip="Select for more details"
                           ng-click="viewSelectedPrincipalDetails(searchResult.userName)">{{searchResult.userName}}</a>
                    </td>
                    <td>{{searchResult.lastLoggedIn | date:'medium'}}</td>
                    <td>{{searchResult.channelIndicator}}</td>
                    <td>{{searchResult.registrationDate | date:'medium'}}</td>
                    <td>{{searchResult.authenticationAttempts}}</td>
                    <td id="diStatus">{{searchResult.activated === true ? "Yes" : "No"}}</td>
                    <td id="diDisabled">{{searchResult.disabled === true ? "Yes" : "No"}}</td>
                </tr>
                </tbody>
            </table>
            <div id="resultsCount">
                <h4 ng-show="!searchResults">{{searchResults.length}} results found</h4>
                <h4 ng-show="searchResults">{{searchResults.length}} results found</h4>
            </div>
            <div id="paginationID" ng-show='searchResults.length > 5'>
                <pagination
                        ng-model="currentPage"
                        total-items="searchResults.length"
                        max-size="maxSize"
                        items-per-page="itemsPerPage"
                        boundary-links="true">
                </pagination>
            </div>
        </div>
    </div>
</div>
