<div data-ng-init="init()">
    <ol id="searchByCardNrBreadCrumb" class="breadcrumb list-inline text-center lBlue">
        <li><a href="/dashboard">Search Selection</a></li>
        <li ui-sref-active="" ui-sref-opts="{cache: false,reload: true}" class="active">Search By Card Number</li>
    </ol>
    <div class="container-fluid">
        <form name="searchByCardForm" ng-submit="searchByTypePrincipal(searchValue)" data-toggle="validator">
            <div ng-show="errorMessage" id="searchFormError" class="loginMargin panel-primary alert alert-danger">
                <strong>{{errorMessage}}</strong>
            </div>
            <div ng-show="cardNumberSearchMessage" id="searchCardLength" class="loginMargin panel-primary alert alert-danger">
                <strong>{{cardNumberSearchMessage}}</strong>
            </div>
            <div class="col-xs-12 input-group">
                <div class="form-inline">
                    <div class="col-xs-2">
                        <p class="customClass" id="searchHintsLink">*Search by a full card number</p>
                    </div>
                    <div class="col-xs-3">
                        <div class="input-append">
                            <input type="text" class="form-control input-medium search-query" id="searchByCardTxt"
                                   ng-model="searchValue" placeholder="Search" autofocus="autofocus" tabindex="1"
                                   maxlength="18" minlength="9" required>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button data-ng-disabled="searchByCardForm.$invalid" id="cardNrSearchBtn" type="submit" tabindex="2"
                                class="btn btn-primary btn-block searchButtonSmallScreen">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div>&nbsp;</div>
        <div class="col-xs-12" ng-show="searching">

            <table class="table table-bordered table-striped" id="cardSearchList">
                <thead>
                <tr class="bg-info">
                    <th><button id="cardNoFilterCard" ng-click="order('cardNo')" style="display: block; width: 100%;">Card Number</button>
                        <span ng-show="predicate === 'cardNo'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th><button id="userNameFilterCard" ng-click="order('userName')" style="display: block; width: 100%;">Digital ID</button>
                        <span ng-show="predicate === 'userName'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th><button id="lastLoggedInFilterCard" ng-click="order('lastLoggedIn')" style="display: block; width: 100%;">Last Login</button>
                        <span ng-show="predicate === 'lastLoggedIn'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th><button id="channelIndicatorFilterCard" ng-click="order('channelIndicator')" style="display: block; width: 100%;">Registration Channel</button>
                        <span ng-show="predicate === 'channelIndicator'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th><button id="registrationDateFilterCard" ng-click="order('registrationDate')" style="display: block; width: 100%;">Registration Date</button>
                        <span ng-show="predicate === 'registrationDate'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th><button id="authenticationAttemptsFilterCard" ng-click="order('authenticationAttempts')" style="display: block; width: 100%;">Password Count</button>
                        <span ng-show="predicate === 'authenticationAttempts'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th><button id="activatedFilterCard" ng-click="order('activated')" style="display: block; width: 100%;">Active</button>
                        <span ng-show="predicate === 'activated'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th><button id="disabledFilterCard" ng-click="order('disabled')" style="display: block; width: 100%;">Disabled</button>
                        <span ng-show="predicate === 'disabled'" ng-class="{reverse:reverse}"></span>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="searchCardResult in filteredCardResults.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:predicate:reverse">
                    <td id="searchMaskedNumber">{{searchCardResult.systemPrincipals[0].cardNo | maskedCardNumberFilter}}</td>
                    <td><a href="" id="cardUserName"  tooltip="Select for more details"
                           ng-click="viewSelectedPrincipalDetails(searchCardResult.userName)">{{searchCardResult.userName}}</a>
                    </td>
                    <td>{{searchCardResult.lastLoggedIn | date:'medium'}}</td>
                    <td>{{searchCardResult.channelIndicator}}</td>
                    <td>{{searchCardResult.registrationDate | date:'medium'}}</td>
                    <td>{{searchCardResult.authenticationAttempts}}</td>
                    <td id="diStatus">{{searchCardResult.activated === true ? "Yes" : "No"}}</td>
                    <td id="diDisabled">{{searchCardResult.disabled === true ? "Yes" : "No"}}</td>
                </tr>
                </tbody>
            </table>
            <div id="cardResultsCount">
                <h4 ng-show="!filteredCardResults">{{filteredCardResults.length}} results found</h4>
                <h4 ng-show="filteredCardResults">{{filteredCardResults.length}} results found</h4>
            </div>
            <div id="paginationID" ng-show='filteredCardResults.length > 5'>
                <pagination
                        ng-model="currentPage"
                        total-items="filteredCardResults.length"
                        max-size="maxSize"
                        items-per-page="itemsPerPage"
                        boundary-links="true">
                </pagination>
            </div>
        </div>
    </div>
</div>
