<div ng-show="moreDigitalsIdResults">
    <div ng-show="info" ng-cloak>
        <div class="row row-centered">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped" id="searchList">
                    <thead>
                    <tr class="bg-info">
                        <th>Digital ID</th>
                        <th>Last Login</th>
                        <th>Registration Channel</th>
                        <th>Registration Date</th>
                        <th>Password Count</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="searchResult in moreDigitalsIdResults">
                        <td><a id="linkedUserName" href=""  ng-click="viewDigitalIDDetails(searchResult.userName)">{{searchResult.userName}}</a>
                        </td>
                        <td>{{searchResult.lastLoggedIn | date:'medium'}}</td>
                        <td>{{searchResult.channelIndicator}}</td>
                        <td id="linkedRegDate">{{searchResult.registrationDate | date:'medium'}}</td>
                        <td>{{searchResult.authenticationAttempts}}</td>
                        <td id="linkedDIStatus">{{searchResult.activated === true ? "Yes" : "No"}}</td>
                        <td>
                            <button  ng-disabled="userAccessRights !== 'ROLE_READWRITE_USER'" id="removeLinkedDigitalId"
                                    ng-click="openModalForRemoveLinkedDigitalId(searchResult)" type="submit"
                                    class="btn btn-primary btn-default"
                                    tooltip="Unlink linked Digital ID from card" style="margin: auto; display: block;">
                                Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="linkedDiMessage" ng-hide="info"><strong>{{infoMessage}}</strong></div>
    </div>
</div>
