<form>
    <p id="userName">Selected Card details for: <strong>{{userDetails.userName}}</strong></p>

    <p id="preferredName">Preferred Name: <strong>{{userDetails.preferredName}}</strong></p>

    <div ng-controller="ViewSelectedPrincipalController">
        <div class="row row-centered container-fluid">
            <div class="col-centered">
                <table class="table table-bordered">
                    <thead>
                    <tr class="bg-info">
                        <th>Type</th>
                        <th>Version</th>
                        <th>ID</th>
                        <th>Profile Style Type</th>
                        <th>Channel Profile ID</th>
                        <th>Territory</th>
                        <th>Re-Validate</th>
                        <th>ASI Bda Account</th>
                    </tr>
                    </thead>
                    <tbody>
                    <td>{{selectedBankingPrincipals.type}}</td>
                    <td>{{selectedBankingPrincipals.version}}</td>
                    <td id="asi">{{selectedBankingPrincipals.id}}</td>
                    <td>{{selectedBankingPrincipals.profileStyleType}}</td>
                    <td>{{selectedBankingPrincipals.channelProfileId}}</td>
                    <td>{{selectedBankingPrincipals.territory}}</td>
                    <td>{{selectedBankingPrincipals.revalidate === true ? "Yes" : "No"}}</td>
                    <td id="asi">{{selectedBankingPrincipals.asiBdaAccount}}</td>
                    </tbody>
                </table>
            </div>
        </div>
        <div><a href="" tooltip="More Digital ID's linked to Principal" id="viewLinkedDI"
                ng-click="viewExtraLinkedDigitalId(selectedBankingPrincipals.type, selectedBankingPrincipals.profileStyleType, selectedBankingPrincipals.bpId, 'stanlib')">
            View Linked Digital ID's</a>
        </div>
        <div>&nbsp;</div>
        <div id="moreDIsMessage" ng-show="moreDigitalsIdResults === undefined">{{moreDigitalsIdinfo}}</div>
        <div>
            <ng-include src="'systemPrincipalsView/moreLinkedDigitalIds.html'"></ng-include>
        </div>
    </div>
</form>
