<div ng-controller="ViewSelectedPrincipalController" data-ng-init="init()">
    <ol id="viewBankingBreadCrumb" class="breadcrumb text-center lBlue">
        <li><a href="/dashboard">Search Selection</a></li>
        <li><a href="/dashboard">Searched By Principal Type</a></li>
        <li><a href="/viewDigitalIdDetails">View Digital ID</a></li>
        <li href="#" class="active">Selected System Principal</li>
    </ol>
    <div class="container">
        <div ng-show="error" id="serviceError" class="panel-primary alert alert-danger loginMargin"><strong>{{error}}{{errorId}}</strong>
        </div>
        <div ng-show="errorMessage" id="searchFormError" class="panel-primary alert alert-danger">
            <strong>{{errorMessage}}</strong>
            <strong>{{errorId}}</strong>
        </div>

        <div>
            <div ng-if="selectedBankingPrincipals.type === 'BANKING'">
                <div>
                    <ng-include src="'systemPrincipalsView/viewSelectedBankingProperties.html'"></ng-include>
                </div>
            </div>
            <div ng-if="selectedBankingPrincipals.type === 'OST'">
                <div>
                    <ng-include src="'systemPrincipalsView/viewSelectedOSTProperties.html'"></ng-include>
                </div>
            </div>
            <div ng-show="selectedBankingPrincipals.type === 'SED'">
                <div>
                    <ng-include src="'systemPrincipalsView/viewSelectedSEDProperties.html'"></ng-include>
                </div>
            </div>
            <div ng-show="selectedBankingPrincipals.type === 'STANLIB'">
                <div>
                    <ng-include src="'systemPrincipalsView/viewSelectedSTANLIBProperties.html'"></ng-include>
                </div>
            </div>
            <div ng-show="selectedBankingPrincipals.type === 'ASI'">
                <div>
                    <ng-include src="'systemPrincipalsView/viewSelectedASIProperties.html'"></ng-include>
                </div>
            </div>
            <div ng-show="selectedBankingPrincipals.type === 'WI'">
                <div>
                    <ng-include src="'systemPrincipalsView/viewSelectedWIProperties.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
