<form>
    <p id="userNameOST">Selected OST details for: <strong>{{userDetails.userName}}</strong></p>
    <p id="preferredName">Preferred Name: <strong>{{userDetails.preferredName}}</strong></p>
    <div class="row row-centered container-fluid">
        <div class="col-centered">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-info">
                        <th>Type</th>
                        <th>Version</th>
                        <th>ID</th>
                        <th>Profile Style Type</th>
                        <th>Channel Profile ID</th>
                        <th>Territory</th>
                        <th>Re-Validate</th>
                        <th>Display Name</th>
                        <th>Access Key</th>
                        <th>Access Time Stamp</th>
                    </tr>
                </thead>
                <tbody>
                    <td id="ostPrincipalType">{{selectedBankingPrincipals.type}}</td>
                    <td>{{selectedBankingPrincipals.version}}</td>
                    <td>{{selectedBankingPrincipals.id}}</td>
                    <td>{{selectedBankingPrincipals.profileStyleType}}</td>
                    <td>{{selectedBankingPrincipals.channelProfileId}}</td>
                    <td>{{selectedBankingPrincipals.territory}}</td>
                    <td>{{selectedBankingPrincipals.revalidate  === true ? "Yes" : "No"}}</td>
                    <td id="ostPrincipalDisplayName">{{selectedBankingPrincipals.displayName}}</td>
                    <td id="ostPrincipalAccessKey" style="word-break: break-all">{{selectedBankingPrincipals.accessKey}}</td>
                    <td id="ostAccessTimeStamp">{{selectedBankingPrincipals.accessTimestamp}}</td>
                </tbody>
            </table>
        </div>
    </div>
        <div><a href="" tooltip="More Digital ID's linked to Principal" id="viewLinkedDIOSTs"
                ng-click="viewExtraLinkedDigitalId(selectedBankingPrincipals.type, selectedBankingPrincipals.profileStyleType, selectedBankingPrincipals.displayName, 'Ost_Display_Name')">
            View Linked Digital ID's</a>
        </div>
        <div>&nbsp;</div>
        <div id="moreDIsMessage" ng-show="moreDigitalsIdResults === undefined">{{moreDigitalsIdinfo}}</div>
        <div>
            <ng-include src="'systemPrincipalsView/moreLinkedDigitalIds.html'"></ng-include>
        </div>
</form>
