<div data-ng-init="init()">
    <ol id="searchByOBBBreadCrumb" class="breadcrumb list-inline text-center lBlue">
        <li><a href="/dashboard">Search Selection</a></li>
        <li ui-sref-active="" ui-sref-opts="{cache: false,reload: true}" class="active">Search for OBB</li>
    </ol>
    <div class="col-md-10">
        <div class="container-fluid">
            <form style="padding-top: 19px" name="searchForm" ng-submit="searchForEntitlements(searchValue)"
                  data-toggle="validator">
                <div ng-hide="!errorMessage" id="searchFormError" class="loginMargin panel-primary alert alert-danger">
                    <strong>{{errorMessage}}</strong>
                </div>
                <div class="col-xs-12 input-group">
                    <div class="form-inline">
                            <div class="col-xs-2">
                                <div><h4>Online Banking for Business</h4></div>
                            </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="input-append">
                            <input type="text" class="form-control input-medium search-query" id="tbDigitalId"
                                   ng-model="searchValue" placeholder="Search by digital id"
                                   autofocus="autofocus" tabindex="1"
                                   required>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button data-ng-disabled="searchForm.$invalid" id="search" type="submit" tabindex="2"
                                class="btn btn-primary btn-block searchButtonSmallScreen">
                            Search
                        </button>
                    </div>
                </div>
            </form>
            <div>&nbsp;</div>
            <div id ="obbResultsCount" data-ng-show="infoMessage !== undefined" class="col-xs-12"><strong>No Entitlements linked products found</strong></div>
            <div data-ng-show="searchResults !== undefined" class="col-xs-12">
                <table class="table table-bordered table-striped" id="searchList">
                    <thead>
                    <tr class="bg-info">
                        <th>
                            Digital Id
                        </th>
                        <th>
                            Registered for OBB
                        </th>
                        <th>
                            Registration Channel
                        </th>
                        <th>
                            Digital Id Status
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="searchResponse in searchResults.slice(((currentPage-1)*10), ((currentPage)*10))">
                    <tr>
                        <td><a href="" id="searchRes" tooltip="Select for more details"
                               ng-click="viewSelectedDigitalIdDetails(searchResponse.userName)">{{searchResponse.userName}}</a>
                        </td>
                        <td>Yes</td>
                        <td>{{searchResponse.channelIndicator}}</td>
                        <td>{{searchResponse.activated === true ? "Active" : "De-active"}}</td>
                    </tr>
                    </tbody>
                </table>
                <div id="paginationID" ng-show='searchResults.length > 5'>
                    <pagination
                            ng-model="currentPage"
                            total-items="searchResults.length"
                            max-size="maxSize"
                            items-per-page="10"
                            boundary-links="true">
                    </pagination>
                </div>
            </div>
        </div>

    </div>
</div>