<div class="modal-header blue">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h3 id="editPaymetChargeModalHeading" class="modal-title">Edit Payment Charge</h3>
</div>

<div class="modal-body">
    <form class="form-group" name="NewPaymentCharge" role="form">
        <table class="table table-bordered top15">
            <thead>
            <tr class="bg-info">
                <th class="col-sm-1">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-sm-1"><input
                        id="editPaymentChargeAmount"
                        type="text"
                        ng-model="staticController.paymentChargeAmount"
                        ng-pattern="/^[0-9]{0,8}$/"
                        required></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button id="confirmEditPeymentChargeModalBtn" class="btn btn-primary" type="button"
           data-ng-disabled="NewPaymentCharge.$invalid" ng-click="replace()">Confirm</button>
    <button id="cancelEditPaymentChargeModalBtn" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
