<div class="col-md-7">

    <table class="table table-bordered top15">
        <thead>
        <tr class="bg-info">
            <th>Style</th>
            <th>Type</th>
            <th>Description</th>
            <th class="col-sm-2" ng-show="staticController.updatingAccountStyles">Delete</th>
        </tr>
        <tr>
            <td><input type="text" ng-model="staticController.searchFilter.code" class="form-control"
                       placeholder="Search by Style Code" data-ng-change="staticController.accountStylesFilterChange()">
            </td>
            <td><input type="text" ng-model="staticController.searchFilter.type" class="form-control"
                       placeholder="Search by Type" data-ng-change="staticController.accountStylesFilterChange()"></td>
            <td><input type="text" ng-model="staticController.searchFilter.description" class="form-control"
                       placeholder="Search by Description"
                       data-ng-change="staticController.accountStylesFilterChange()"></td>
            <td ng-show="staticController.updatingAccountStyles"></td>
        </tr>
        </thead>
        <tbody ng-repeat="accountStyle in (staticController.filteredItems = (staticController.accountStyles | filter:staticController.searchFilter)).slice(((staticController.currentPage-1)*staticController.itemPerPage), ((staticController.currentPage)*staticController.itemPerPage))">
        <td>{{accountStyle.code}}</td>
        <td>{{accountStyle.type}}</td>
        <td>{{accountStyle.description}}</td>
        <td class="col-xs-2" ng-show="staticController.updatingAccountStyles"
            ng-click="staticController.openModalForDeleteAccountStyle(accountStyle)">
            <a><i class="glyphicon glyphicon-trash"></i>delete</a></td>
        </tbody>
    </table>
    <div>
        <button ng-show="staticController.userAccessRights === 'ROLE_READWRITE_USER' && !staticController.updatingAccountStyles"
                id="updateAccountStyles" tooltip="Add/Edit Account Styles"
                class="btn btn-primary btn-block searchButtonSmallScreen"
                ng-click="staticController.updateAccountStyles()">
            Update
        </button>
        <button ng-show="staticController.updatingAccountStyles" id="linkAccountStyle"
                class="btn btn-primary searchButtonSmallScreen"
                ng-click="staticController.openModalToLinkAccountStyle()">
            Link
        </button>
        <button ng-show="staticController.updatingAccountStyles" id="createAccountStyle"
                class="btn btn-primary searchButtonSmallScreen"
                ng-click="staticController.openModalForCreateAccountStyle()">
            Add
        </button>
        <button ng-show="staticController.updatingAccountStyles" id="cancelAccountStyle"
                class="btn btn-primary searchButtonSmallScreen"
                ng-click="staticController.cancelUpdateAccountStyles()">
            Cancel
        </button>
        <pagination
                ng-model="staticController.currentPage"
                total-items="staticController.filteredItems.length"
                max-size="staticController.maxSize"
                items-per-page="staticController.itemPerPage"
                boundary-links="true">
        </pagination>
    </div>

</div>
