<div class="modal-header blue">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h3 id="createAccountStyleModalHeading" class="modal-title">Create Account Style</h3>
</div>

<div class="modal-body">
    <form class="form-group"  name="createAccountStyle" role="form">
        <table class="table table-bordered top15">
            <thead>
            <tr class="bg-info">
                <th class="col-sm-1">Code</th>
                <th class="col-sm-1">Type</th>
                <th class="col-sm-1">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-sm-1"><input
                        id="newCode"
                        type="text"
                        ng-model="accountStyle.code"
                        ng-pattern="/^[0-9A-Z]{3}$/"
                        required="true"></td>
                <td class="col-sm-1"><input
                        id="newType"
                        type="text"
                        ng-model="accountStyle.type"
                        ng-trim="false"
                        ng-pattern="/^[0-9]{3}$/"
                        required="true"></td>
                <td class="col-sm-1"><input
                        id="newDescription"
                        type="text"
                        ng-model="accountStyle.description"
                        ng-trim="false"
                        maxlength="255"
                        required="true"></td>
            </tr>
            </tbody>
        </table>
        <div class="modal-footer">
            <input id="confirmAddAccountStyleModalBtn" data-ng-disabled="createAccountStyle.$invalid" class="btn btn-primary" ng-click="add()" value="Save">
            <button id="cancelAddAccountStyleModalBtn" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
