<div ng-controller="ListEntitlementsDetailsController" data-ng-init="init()">
    <ol id="viewDIBreadCrumb" class="breadcrumb text-center lBlue">
        <li><a href="/dashboard">Search Selection</a></li>
        <li><a href="/searchSmallEnterpriseOnline" class="active">Search for OBB</a></li>
        <li href="#" class="active">View OBB Operator Details</li>
    </ol>

    <div class="container">
        <div class="row row-centered">
            <h4 id="entityName">Name of the Entity : {{businessAccInfo.name}}</h4>
            <h4 id="digitalId">Digital Id searched : {{digitalId}}</h4>
            <h4>List of cards and accounts associated with digital id     <span class="col-lg-offset-5">Billing Account : {{businessAccInfo.billingAccountNo}}</span></h4>

            <div ng-show="errorMessage" id="searchFormError" class="panel-primary alert alert-danger">
                <strong>{{errorMessage}}</strong>
            </div>
            <table ng-cloak class="table table-bordered table-striped" id="displayOperatorList">
                <thead>
                <tr class="bg-info">
                    <th>
                        <button id="operatorCardNo" ng-click="sortOrder('enabler')" class="sortButton">
                            Card Number
                        </button>
                        <span class="sortorder" ng-show="predicate === 'enabler'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th>
                        <button id="operatorAccount" ng-click="sortOrder('delegatedAccounts')" class="sortButton">
                            Account Number
                        </button>
                        <span class="sortorder" ng-show="predicate === 'delegatedAccounts'" ng-class="{reverse:reverse}"></span>

                    </th>
                    <th>
                        <button id="operatorDetails" ng-click="sortOrder('operators')" class="sortButton">
                            Operator
                        </button>
                        <span class="sortorder" ng-table-sorter-row="operators"></span>
                    </th>
                </tr>
                </thead>
                <tbody ng-repeat="item in entitlementResults.slice(((currentPage-1)*10), ((currentPage)*10)) | orderBy:-predicate track by item.enabler">
                <tr>
                    <td>{{item.enabler | maskedCardNumberFilter}}</td>
                    <td ng-show="item.operators.length !==0"><a href="" id="account" tooltip="Select for more details"
                                                                  ng-click="viewOperatorsDetails(item.delegatedAccounts,item.enabler)">{{item.delegatedAccounts}}</a>
                    </td>
                    <td ng-show="item.operators.length ===0">
                        {{item.delegatedAccounts}}
                    </td>
                    <td>{{item.operators.length}}</td>
                </tr>
                </tbody>
            </table>
            <div id="paginationID" ng-show='entitlementResults.length > 1'>
                <pagination
                        ng-model="currentPage"
                        total-items="entitlementResults.length"
                        max-size="maxSize"
                        items-per-page="10"
                        boundary-links="true">
                </pagination>
            </div>
        </div>
    </div>
</div>