<div ng-controller="ViewSystemPrincipalController" data-ng-init="init()">
    <div class="container">
        <div class="row row-centered">
            <h4>Linked Products</h4>

            <div ng-show="errorMessage" id="searchFormError" class="panel-primary alert alert-danger">
                <strong>{{errorMessage}}</strong>
            </div>
            <form role="form">
                <div id="noLinkedSystems" data-ng-show="bankingSystemPrincipals.length===0">
                    <strong>No Linked Products Found</strong>
                </div>
                <div data-ng-show="bankingSystemPrincipals.length>0">
                    <table id="SystemPrincipalsTable" class="table table-bordered">
                        <thead>
                        <tr class="bg-info">
                            <th>Profile Type</th>
                            <th>System Type</th>
                            <th>ID</th>
                            <th>Unique Identifier</th>
                            <th>Territory</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="systemPrincipal in bankingSystemPrincipals | orderBy:'type'">
                        <tr>
                            <td id="profileType">{{systemPrincipal.profileStyleType}}</td>
                            <td id="systemType">{{systemPrincipal.type}}</td>
                            <td id="systemPrincipalID">{{systemPrincipal.id}}</td>
                            <td id="uniqueIdentifier">
                                <a id="cardNoLink" href="" tooltip="Select for more details" class="customClass"
                                   ng-if="systemPrincipal.type === 'BANKING'"
                                   ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)">{{systemPrincipal.cardNo
                                    | maskedCardNumberFilter}}</a>
                                <a id="sedLink" href="" tooltip="Select for more details" class="customClass"
                                   ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"
                                   ng-if="systemPrincipal.type === 'SED'">{{systemPrincipal.businessId}}</a>
                                <p id="ostLink" href=""  class="customClass"
                                   ng-if="systemPrincipal.type === 'LOYALTY'">{{systemPrincipal.userName}}</p>
                                <p id="loyalty" href="" class="customClass"
                                   ng-if="systemPrincipal.type === 'INSURANCE'">{{systemPrincipal.userName}}</p>
                                <a id="insurance" href="" tooltip="Select for more details" class="customClass"
                                   ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"
                                   ng-if="systemPrincipal.type === 'OST'">{{systemPrincipal.displayName}}</a>
                                <p id="offshore" href="" class="customClass"
                                   ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"
                                   ng-if="systemPrincipal.type === 'OFFSHORE'">{{systemPrincipal.icn}}</p>
                                <p id="FINACLE" href="" class="customClass"
                                   ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"
                                   ng-if="systemPrincipal.type === 'FINACLE'">{{systemPrincipal.userName}}</p>
                                <p id="webTrader" href="" class="customClass"
                                   ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"
                                   ng-if="systemPrincipal.type === 'WEBTRADER'">{{systemPrincipal.displayName}}</p>
                                <p id="vaf" href="" class="customClass"
                                   ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"
                                <p id="bol" href="" class="customClass"
                                   ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"
                                   ng-if="systemPrincipal.type === 'BOL'">{{systemPrincipal.userId}}</p>
                                <p id ="kidz" href="" class="customClass"
                                    ng-if="systemPrincipal.type === 'KIDZ'">{{}}</p>
                                <a id ="stanlib" href="" class="customClass"
                                    ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"
                                    ng-if="systemPrincipal.type === 'STANLIB'">{{systemPrincipal.bpId}}</a>
                                <a id ="asi" href="" class="customClass"
                                        ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"
                                        ng-if="systemPrincipal.type === 'ASI'">{{systemPrincipal.asiBdaAccount}}</a>
                                <a id ="wi" href="" class="customClass"
                                        ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"
                                        ng-if="systemPrincipal.type === 'WI'">{{systemPrincipal.clientId}}</a>
                                <!--<p id="vcr" href="" class="customClass"-->
                                   <!--ng-click="viewMoreDetailsForSystemPrincipal($index,systemPrincipal.id)"-->
                                   <!--ng-if="systemPrincipal.type == 'VCR'">{{systemPrincipal.customerRef}}</p>-->
                            </td>
                            <td id="territory">{{systemPrincipal.territory}}</td>
                            <td data-ng-class="{isDisabled :userAccessRights !== 'ROLE_READWRITE_USER'}"><a
                                    id="deLinkCardButton" href="" tooltip="De-Link product from digital ID"
                                    class="customClass"
                                    ng-click="openModalForRemovePrincipal(systemPrincipal.profileStyleType,systemPrincipal.type,systemPrincipal.id)">De-Link</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
