<div class="modal-header blue">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h3 id="createParticipatingBanksModalHeading" class="modal-title">Create Participating Banks</h3>
</div>

<div class="modal-body">
    <form class="form-group"  name="createParticipatingBank" role="form">
        <table class="table table-bordered top15">
            <thead>
            <tr class="bg-info">
                <th class="col-sm-1">Bank Name</th>
                <th class="col-sm-1">BIC</th>
                <th class="col-sm-1">Code</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-sm-1"><input
                        id="newBankName"
                        type="text"
                        ng-model="bank.name"
                        maxlength="255"
                        required></td>
                <td class="col-sm-1"><input
                        id="newBankBic"
                        type="text"
                        ng-model="bank.bic"
                        ng-trim="false"
                        ng-pattern="/^[0-9a-zA-Z]{8,11}$/"
                        required="true"></td>
                <td class="col-sm-1"><input
                        id="newBankCode"
                        type="text"
                        ng-model="bank.code"
                        ng-trim="false"
                        ng-pattern="/^[0-9]{1,3}$/"
                        required></td>
            </tr>
            </tbody>
        </table>
        <div class="modal-footer">
            <button id="confirmAddParticipatingBankModalBtn" data-ng-disabled="createParticipatingBank.$invalid" class="btn btn-primary" type="button"  ng-click="add()">Save</button>  
            <button id="cancelAddParticipatingBankModalBtn" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
    <div ng-show="staticController.isDuplicate" id="errorMessage">
        <strong>BIC already exists, please try again</strong>
    </div>
</div>
