<div class="modal-header blue">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h3 id="replaceCardModalHeading" class="modal-title">Replace Old Card Number with New Card Number</h3>
</div>
<div class="modal-body">
    <form class="form-group" name="OldCardNumber" role="form">
        <div class="control-label" for="oldCardNumber" id="oldCardNumber">Old Card Number
            <p id="oldNumberTxt" name="oldCardNumber" class="form-control">{{principalCardNumber.trim() | maskedCardNumberFilter}}</p></div>
        <label class="control-label" for="newCardNumber" id="newCardNumber">New Card Number</label>
        <input id="newCardNumberInput" type="text" name="newCardNumber" data-ng-model="replacementCard"
        class="form-control" placeholder="New card number" minlength="9" maxlength="18"
               ng-pattern="/^\d*(?:\.\d{1,2})?$/" required>
    </form>
</div>
<div class="modal-footer">
    <button id="confirmChangeCardModalBtn" data-ng-disabled="OldCardNumber.$invalid" class="btn btn-primary" type="button" ng-click="replace()">Confirm</button>
    <button id="cancelChangeCardModalBtn" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

