<table id="DigitalIDsTable" class="table table-hover table-condensed"
       style="table-layout: fixed">
    <tr  ng-repeat="digitalID in digitalIDs">
        <td id="digitalIDLinkedToCard" ng-hide="hideMainDigitalID(digitalID.userName, userDetails.userName)">{{digitalID.userName}}</td>
        <td ng-hide="hideMainDigitalID(digitalID.userName, userDetails.userName)" colspan="1" >
            <button id="removeLinkedDigitalIDBtn" type="button"  class="btn btn-info removeLinkButton"
                    ng-click="openModalForRemoveDigitalID(digitalID, selectedSystemPrincipal)">
                Remove Digital ID
            </button>
        </td>
    </tr>
    <p id="noDigitalIDLinkedToCard" ng-show="!digitalIDs || digitalIDs.length <= 1" > <strong>No other linked Digital ID's found.</strong>
    </p>
</table>