<div class="modal-header blue">
    <h3 class="modal-title">{{hintsHeader}}</h3>
</div>
<div class="modal-body">
    <div id="searchHintsText1"><strong>{{hintsMessage1}}</strong></div>
    <div id="searchHintsText2">{{hintsMessage2}}</div>
    <h1></h1>
    <div id="searchHintsText3"><strong>{{hintsMessage3}}</strong></div>
    <div id="searchHintsText4">{{hintsMessage4}}</div>
</div>
<div class="modal-footer">
    <button id="closeSearchHints" class="btn btn-warning" data-dismiss="modal" type="button" ng-click="close()">Close</button>
</div>

